* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url('Gotham-Black.ttf');
    font-family: 'gotham-black';    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('Roboto-medium.ttf');
    font-family: 'roboto-medium';    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('IBMPlexSansThai-Bold.ttf');
    font-family: 'IBM-plex-bold';    
    font-weight: normal;
    font-style: normal;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 130px;
    margin-left: 20px;
}

#box-menu{
    background-color: #990101;
    height: 45px;
}

#h1-menu {
    color: #fff;
    font-family: 'gotham-black';
    font-size: 20px;
    text-align: center;
    padding: 12px;
}

.menu-mobile {
    margin-right: 20px;
}

.fa-bars {
    font-size: 25px;
    cursor: pointer;
}
  
li {
    list-style: none;
    height: 50px;
    margin-top: 13px;
}

ul {
    display: block;
    transition: all 850ms;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 0vh; /*ocultando acima do header para descer com o checked*/
    top: -300px; /*ocultando acima do header para descer com o checked*/
    left: 0;
    z-index: 1;   /*para ficar acima da camada dos demais itens do site*/
    position: absolute;
    background-color: #990101;
}

#check {
    display: none;
}

label {
    width: 25px;
}

#check:checked ~ ul { /*aqui se cria animação de descer o ul que destava acima do header*/
    height: 100vh;
    top: 85px;
}

#button-mobile {
    color: #fff;
    font-family: 'gotham-black';
    font-size: 16px;
    background-color: #990101;
    width: 100%;
    height: 100%;
    border: 0;
}

#button-mobile:hover {
    color: #990101;
    transition: 690ms;
    font-family: 'gotham-black';
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 0;
}

.countainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.box-box-product {
    margin: 12px;
}

.box-photo{
    width: 180px;
    height: 180px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.photo {
    width: 180px;
}

.title {
    font-size: 14px ;
    font-family: 'IBM-plex-bold';
    margin-top: 9px;
    color: #2F0C01;
}

.price {
    font-family: 'IBM-plex-bold';
    font-size: 16px;
    color: #2F0C01;
}

.box-product {
   text-align: center;
}

#details {
    margin-top: 6px;
    background-color: #990101;
    width: 179px;
    height: 29px;
    border-radius: 13px;
    font-family: 'roboto-medium';
    font-size: 14px;
    color: #ffff;
    border: 0;
    cursor: pointer;
}

#details:hover{
    background-color: #ffffff;
    width: 179px;
    height: 29px;
    border-radius: 13px;
    font-family: 'roboto-medium';
    font-size: 14px;
    color: #990101;
    border: 2px solid #990101;
    transition-duration: 330ms;
}